{% extends base.html %}
<h1>New post</h1>

{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form action="{% url 'quan:post' post.id %}" method="post">
    {% csrf_token %}
    <label> Content:
        <input type="text" name="content" value="{{ post.content }}">
    </label>
    <label> CateGory:
        <input type="text" name="content" value="{{ post.category }}">
    </label>
    <label> Tag:
        <input type="text" name="content" value="{{ post.tag }}">
    </label>
    <input type="submit" value="submit"/>
</form>