{% extends "pieces/base.html" %}
{#{% block content %}#}

{% block main %}
    <div id="main">

        {% for card in cards %}
            <section class="card" id="template">

                <a href="/pieces/{{ card.id }}">
                    <div title="items" class="badge">
                        <span class="badge-text">{{ card.record_count }}</span>
                    </div>
                    <h5>{{ card.name }}</h5>
                </a>


            </section>
        {% endfor %}

    </div>
{% endblock %}
{% include "asidepart.html" %}

{#{% endblock %}#}