{% extends "quan/base.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">DashBroad</div>
        <div class="panel-body">
            <p>balabala</p>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>pub_time</th>
            </tr>
            </thead>
            <tbody>
            {% for post in py_post_list %}
                <tr>
                    <td><span class="badge">1/14</span></td>
                    <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.pub_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}