<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'quan/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'quan/style/base.css' %}" rel="stylesheet"/>
    <title></title>
</head>
<body>
<!-- navbar-->
{% block header %}
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Blooog</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/quan">首页</a></li>
                        <li><a href="/archives">存档</a></li>
                        <li><a href="/quan/new">写博客</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/quan/about">关于</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock %}
    {% if error %}
        <p><strong>{{ error }}</strong></p>
    {% endif %}
{% endblock %}

<div id="container">
    {% block content %}
        {% block main %}
            <div id="main">
                <section class="post" id="template" itemscope="" itemprop="blogPost">
                    <a href="/article/0" itemprop="url">
                        <h1 itemprop="name">Unnname</h1>

                        <p itemprop="content">23dadasad</p>
                        <time datetime="2015年6月8日 03:43"
                              itemprop="datePublished">2015年6月8日 03:43
                        </time>
                        <li>0</li>
                    </a>
                </section>
            </div>
        {% endblock %}

        <!-- asidepart-->
        <div id="asidepart">
            <div class="closeaside"><a class="closebutton" href="#" title="隐藏侧边栏"></a></div>
            <aside class="clearfix">
                <div class="categorieslist">
                    <p class="asidetitle">分类</p>
                    <ul>
                        <li><a href="/categories/blog/" title="blog">blog<sup>1</sup></a></li>
                        <li><a href="/categories/java-study-note/"
                               title="java-study-note">java-study-note<sup>1</sup></a>
                        </li>
                        <li><a href="/categories/java源码学习/" title="java源码学习">java源码学习<sup>1</sup></a></li>
                        <li><a href="/categories/uncategorized/" title="uncategorized">uncategorized<sup>2</sup></a>
                        </li>
                        <li><a href="/categories/总结/" title="总结">总结<sup>1</sup></a></li>
                        <li><a href="/categories/电影/" title="电影">电影<sup>1</sup></a></li>
                    </ul>
                </div>
                <div class="archiveslist">
                    <p class="asidetitle"><a href="/archives">归档</a></p>
                    <ul class="archive-list">
                        <li class="archive-list-item"><a class="archive-list-link" href="/archives/2015/05/">五月
                            2015</a><span class="archive-list-count">1</span></li>
                        <li class="archive-list-item"><a class="archive-list-link" href="/archives/2014/05/">五月
                            2014</a><span class="archive-list-count">1</span></li>
                        <li class="archive-list-item"><a class="archive-list-link" href="/archives/2014/04/">四月
                            2014</a><span class="archive-list-count">1</span></li>
                        <li class="archive-list-item"><a class="archive-list-link" href="/archives/2014/03/">三月
                            2014</a><span class="archive-list-count">5</span></li>
                    </ul>
                </div>
                <div class="tagslist">
                    <p class="asidetitle">标签</p>
                    <ul class="clearfix">
                        <li><a href="/tags/blog/" title="blog">blog<sup>1</sup></a></li>
                        <li><a href="/tags/hexo/" title="hexo">hexo<sup>1</sup></a></li>
                        <li><a href="/tags/java/" title="java">java<sup>2</sup></a></li>
                        <li><a href="/tags/电影/" title="电影">电影<sup>1</sup></a></li>
                    </ul>
                </div>
            </aside>
        </div>

    {% endblock %}
</div>
<script src="{% static 'quan/jquery/jquery-2.1.0.min.js' %}"></script>
<script src="{% static 'quan/jquery/jquery.cookie.js' %}"></script>
<script src="{% static 'quan/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
</script>
</body>
</html>